[server default]
manager_log=/etc/mha_manager/manager.log
manager_workdir=/etc/mha_manager
master_ip_failover_script=/etc/mha_manager/master_ip_failover

repl_user=repluser
repl_password=123qqq...A

ssh_port=22
ssh_user=root

user=root
password=123qqq...A

[server1]
candidate_master=1
hostname=192.168.4.51

[server2]
candidate_master=1
hostname=192.168.4.52

[server3]
candidate_master=1
hostname=192.168.4.53

[server4]
hostname=192.168.4.54
no_master=1

[server5]
hostname=192.168.4.55
no_master=1
